<launch>
 
  <include file="$(find speech00)/launch/speech_timmy.launch"/>
  
  <include file="$(find openni_launch)/launch/openni.launch"/>
 
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>  
 
  <node name="control_voz" pkg="speech00" type="control_voz" />
	
  <node name="openni_tracker" pkg="openni_tracker" type="openni_tracker" />

  <node name="extract_velocity" pkg="follower_robot" type="extract_velocity.py" />

  <node name="robot_voice" pkg="follower_robot" type="robot_voice.py" />

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" />

 
</launch>
